* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
}

h2, h3 {
  text-align: center;
  margin: 1rem 0 .5rem;
}

.section__form {
  width: 600px;
  height: 100vh;
  background: #ccc;

  form {
    display: flex;
    flex-direction: column;
  
    label {
      text-align: center;
      margin: 0 auto .5rem;
      font-size: 1.05rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bbb;
      width: 360px;
  
      input {
        height: 28px;
        width: 260px;
        margin: .2rem 0 .5rem;
        font-size: 1rem;
      }
    }
  
    input[type="submit"] {
      width: 120px;
      height: 35px;
      margin: 1rem auto;
      cursor: pointer;
    }
  }  
}

.section__result {
  background: #118ab2;
  width: 100%;

  .result {
    margin: 2rem auto 0;
    width: 450px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #0e5b75;
      height: 30px;
      margin: 1rem 0 0;
    }

    .key {
      font-weight: bold;
      color: #e5e5ee;
      text-transform: capitalize;

      &::after {
        content: ':';
      }
    }

    .value {
      font-style: italic;
      font-weight: bold;
      color: #333;
    }

    .btn-delete {
      width: 100px;
      height: 30px;
      cursor: pointer;
      background: #e54;
      border: none;
      font-size: .9rem;
      text-transform: uppercase;
      margin-bottom: .5rem;
      &:hover {
        background: lighten($color: #e54, $amount: 5);
      }
    }
  }
}
